.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__title {
  color: #5c2c4b;
  margin-top: 30px;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 20px;}